body {
    font-family: 'Lato', sans-serif;
    background-image: url(Backgroundlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}

input{
    margin: 0.5em;
}
.hidden{
    display: none;
}
.errore{
    color:red;
    outline:none;
    text-align: center;
    align-items: center;
}