@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
    font-family: 'Lato', sans-serif;
    background-image: url(Backgroundlogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    color: #ffffff;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: rgba(255, 119, 0, 0.751);
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: black;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: rgba(255, 119, 0, 0.751);
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
    color: rgba(255, 119, 0, 0.751);
}

input::placeholder, textarea::placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
    color: rgba(255, 119, 0, 0.751);
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: black;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
    color: rgba(255, 119, 0, 0.751);
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #ff1852;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #6f00ff;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #ff1852;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #6f00ff;
}

input:hover::placeholder, textarea:hover::placeholder {
  color:#ff1852;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #6f00ff;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #ff1852;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color:#6f00ff;
}
header {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: relative;
    margin: 80px 0 80px 0;
    border:rgba(0, 208, 255, 0.314) 3px;
    font-size: calc(1.2vh + 1.5vw);
    letter-spacing: 7px;
    padding: 4px;  
  }
header div{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    padding: 20px;
}
header div h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    width: 50%;
}
  
#user{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
}
#user img{
    width: calc(5.5vh + 5.5vw);
}
form {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 470px;
    margin: 50px auto 100px auto;
    background-color: rgba(255, 98, 0, 0.446);
}
  
input {
    font-family: 'Lato', sans-serif;
    font-size: calc(1.5vh + 0.10vw);
    max-width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    background: transparent;
    outline: none;
    color: #ff0000ce;
    
    border: solid 1px #b3aca7;
    border-bottom: none;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
input:hover {
    background: #ff9d00b2;
    color: #e2dedb;
}
  
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 10px;
    
    background: transparent;
    outline: none;
    
    font-family: 'Lato', sans-serif;
    font-size: 0.875em;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
textarea:hover {
    background: #ff9d00b2;
    color: #e2dedb;
}
  
input[type="submit"] {
    width: 470px;
    height: 45px;
    bottom: -45px;
    position:absolute;
    padding: 0px 15px 0px 15px;
    margin: -6px 0px 0px 0px;
    background-color: rgba(255, 98, 0, 0.446);
  
    font-family: 'Lato', sans-serif;
    font-size: calc(1.5vh + 0.10vw);
    color: black;
    outline:none;
    cursor: pointer;
    
    border: solid 1px #b3aca7;
    
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}
  
input[type="submit"]:hover {
    background: #ff9d00b2;
    color: red;
}
.hidden{
  display: none;
}
#error{
    font-size: 1.250em;
    color:black;  
    outline:none;
    text-align: center;
    align-items: center;
}
