body{
    background-color: cornflowerblue;
    margin: 8px;
    border: 2px solid;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-style: oblique;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 600px;
    max-width: 100%;
}