body{
    background-color: cornflowerblue;
    margin: 8px;
    border: 2px solid;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-style: oblique;
}
header{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
    height: 100%;
    max-width: 100%;
}
img{
    max-width: 100%;
    height: auto;
}
#Titolo{
    text-align: center;
}