body{
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-style: oblique;
    background-color: white;
    letter-spacing: 2px;
    margin: 10px;
    border: 5px solid;
    padding: 10px;
}
header{
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    height: 1000px;
    max-width: 100%;
}